.card {
  display: flex;
  flex-direction: column;
}

.card--big-width .card__content {
  @media (max-width: $tablet-max-width) {
    margin: 0 -5px;
  }
}

.card__image {
  flex: 0 1 auto;
}

.card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;

  @media (max-width: $tablet-max-width) {
    height: 208px;
  }

  @media (max-width: $mobile-max-width) {
    height: 136px;
  }
}

.card__content {
  flex: 0 1 auto;
  padding: 22px 22px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    padding: 22px 0 3px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 18px 2px 3px;
  }
}

.card__content h3 {
  @include off-margin;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 130%;
  color: $dark;
}

.card__content p {
  @include off-margin;
  margin-bottom: 3px;
  color: $dark;
  font-size: 14px;
  line-height: 130%;
  font-weight: 700;
}

.card__content--margin-left h3 {
  margin-left: 10px;

  @media (max-width: $tablet-max-width) {
    margin-left: 0;
  }
}

.card__content--margin-left-tablet {
  margin-left: 0;

  @media (max-width: $tablet-max-width) {
    margin-left: 17px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 0;
  }
}

.card__content--margin-left-tablet p {
  margin-left: 0;

  @media (max-width: $tablet-max-width) {
    margin-left: -17px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 0;
  }
}

.card__content--margin-left-price p {
  margin-left: 14px;

  @media (max-width: $tablet-max-width) {
    margin-left: 0;
  }
}
