.header {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 114px;
    left: 1px;
    height: 1px;
    width: 100%;
    background-color: $light-grey;
  }

  @media (max-width: $tablet-max-width) {
    &::after {
      position: initial;
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }
}

.header__wrap {
  position: relative;

  @media (max-width: $tablet-max-width) {
    margin: 0 -45px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 -15px;
  }
}

.header__row {
  padding: 30px 0 12px;

  @media (max-width: $tablet-max-width) {
    padding: 30px 45px 23px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 20px 15px 13px;
  }
}

.header__block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  align-items: start;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.header__link-logo {
  grid-column: 5 / 9;
  justify-self: center;
  fill: $brown;

  &:hover,
  &:focus {
    fill: $dark;
  }

  &:active {
    fill: $light-brown;
  }

  @media (max-width: $tablet-max-width) {
    display: block;
    grid-column: 3 / 5;
  }
}

.header__link-logo svg {
  @media (max-width: $mobile-max-width) {
    width: 52px;
    height: 52px;
  }
}

.header__mail {
  display: none;
  grid-column: 9 / -1;
  justify-self: end;

  @media (max-width: $tablet-max-width) {
    display: block;
    grid-column: 5 / -1;
  }
}

.header__button-mail {
  @include button(transparent);
  stroke: $dark;

  &:hover,
  &:focus {
    stroke: $brown;
  }

  &:active {
    stroke: $light-brown;
  }

  @media (max-width: $tablet-max-width) {
    margin-top: 24px;
    margin-right: -1px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 17px;
  }
}

.header__row--menu-opened.header__row {
  @media (max-width: $tablet-max-width) {
    background-color: $brown;
  }
}

.header__row--menu-nojs.header__row {
  @media (max-width: $tablet-max-width) {
    background-color: $brown;
  }
}

.header__row--menu-nojs .header__link-logo,
.header__row--menu-nojs .header__button-mail {
  @media (max-width: $tablet-max-width) {
    stroke: $white;

    &:hover,
    &:focus {
      stroke: $dark;
    }

    &:active {
      stroke: $light-brown;
    }
  }
}

.header__row--menu-opened .header__link-logo,
.header__row--menu-opened .header__button-mail {
  @media (max-width: $tablet-max-width) {
    stroke: $white;

    &:hover,
    &:focus {
      stroke: $dark;
    }

    &:active {
      stroke: $light-brown;
    }
  }
}

.header--opened {
  @media (max-width: $tablet-max-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
}
