.main-nav {
  padding: 19px 0 18px;

  @media (max-width: $tablet-max-width) {
    padding: 10px 45px 74px;
    background-color: $brown;
  }

  @media (max-width: $mobile-max-width) {
    padding: 10px 15px 44px;
  }
}

.main-nav--closed.main-nav {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.main-nav__form-search {
  display: none;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 46px;
    display: flex;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 37px;
  }
}

.main-nav__form-search input {
  @include input;
  flex: 1 1 auto;

  &:hover,
  &:focus {
    color: $brown;
    background-color: $white;
  }
}

.main-nav__form-search label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 13px;
    left: 12px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.627 11.513 16 14.886 14.886 16l-3.373-3.373a7.057 7.057 0 0 1-4.424 1.55A7.091 7.091 0 0 1 0 7.09 7.091 7.091 0 0 1 7.089 0a7.091 7.091 0 0 1 7.088 7.089 7.057 7.057 0 0 1-1.55 4.424Zm-1.58-.585a5.495 5.495 0 0 0 1.555-3.84A5.512 5.512 0 0 0 7.09 1.576 5.511 5.511 0 0 0 1.575 7.09a5.512 5.512 0 0 0 5.514 5.513 5.495 5.495 0 0 0 3.84-1.555l.118-.119Z' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.main-nav__list {
  @include off-list;
  margin-left: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 18px;
    margin-left: 0;
    flex-direction: column;
    font-size: 24px;
    line-height: 36px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 7px;
  }
}

.main-nav__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 21px;
    margin-right: 0;
  }
}

.main-nav__link {
  @include link;

  @media (max-width: $tablet-max-width) {
    color: $white;

    &:hover,
    &:focus {
      color: $dark;
    }

    &:active {
      color: $light-brown;
    }
  }
}

.main-nav__list-contacts {
  @include off-list;
  display: none;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 43px;
    display: block;
    opacity: 0.75;
    font-size: 18px;
    line-height: 130%;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 34px;
  }
}

.main-nav__link-login {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    color: $white;
    font-size: 18px;
    line-height: 130%;

    &:hover,
    &:focus {
      color: $dark;
    }

    &:active {
      color: $light-brown;
    }
  }
}

