.new-products {
  padding: 120px 0 93px;

  @media (max-width: $tablet-max-width) {
    padding: 70px 0 175px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 60px 0 52px;
  }
}

.new-products__wrap {
  display: flex;
  flex-direction: column;
}

.new-products h2 {
  @include fonts-title-h2;
  @include off-margin;
  align-self: center;
  text-align: center;
}

.new-products__toggle {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 9px;
  }
}

.new-products__left-button,
.new-products__right-button {
  @include button(transparent);
  stroke: $brown;

  &:hover,
  &:focus {
    stroke: $dark;
  }

  &:active {
    stroke: $grey;
  }
}

.new-products__link {
  margin-bottom: 60px;
  align-self: center;

  &::before {
    bottom: 0;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 55px;

    &::before {
      bottom: -5px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 45px;

    &::before {
      bottom: -5px;
    }
  }
}

.new-products__pagination {
  align-self: center;
}
