.see-more-link {
  @include link;
  font-size: 16px;
  line-height: 130%;
  display: inline-block;
  vertical-align: top;
  position: relative;


  &:active {
    color: $grey;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $brown;
  }

  &:hover::before,
  &:focus::before {
    background-color: $grey;
  }

  &:active::before {
    background-color: $black-opacity-10-percent;
  }
}
