.swiper {
  display: flex;
  flex-direction: column;
}

.swiper .products-list {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-max-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.swiper-slide--hidden {
  display: none;
}

.swiper .pagination-list {
  align-self: center;
}
