// Mixin

@mixin off-margin {
  margin: 0;
}

@mixin off-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin padding-width-right-left {
  padding: 0 45px;

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
  }
}

@mixin link {
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    color: $light-brown;
  }
}

@mixin fonts-title-h2 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: 700;
}

@mixin button($background-color) {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $background-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
