// Variables

$background-banner: rgba(86, 64, 52, 0.7);
$background-login: rgba(217, 213, 212, 1);

$white: rgba(255, 255, 255, 1);
$white-opacity-15-percent: rgba(255, 255, 255, 0.15);

$black: rgba(0, 0, 0, 1);
$black-opacity-10-percent: rgba(0, 0, 0, 0.1);
$dark: #1d1613;
$grey: #9b9997;
$light-grey: #f6f5f4;

$brown: #a87b62;
$light-brown: #f0eae4;

$box-shadow-login: rgba(226, 221, 215, 0.24);
$box-shadow-filter: rgba(219, 213, 208, 0.24);

// Viewports

$desktop-width: 1366px;
$desktop-content-width: 1260px;
$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 320px;
